*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c97b8468;
    color: #7D2E68;
    margin: 0;
}
nav{
    width: 25ch;
    height: 100vh;
    position: fixed;
    background-color: #040926;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}
nav > a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}
nav > a:hover{
    color: #A85751;
}
#app{
    padding: 2em;
    font-weight: 500;
    color: #040926;
}
main{
    margin-left: 25ch;
    line-height: 1.5;
}